@font-face {
    font-family: 'Sohne';
    src: url('https://assets.website-files.com/657faa5b526b40c8ee10c543/65806a3203a1ce73e110d626_TestS%C3%B6hne-Buch.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sohne';
    src: url('https://assets.website-files.com/657faa5b526b40c8ee10c543/65806a32faade09e489d1eb5_TestS%C3%B6hne-Kr%C3%A4ftig.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sohne';
    src: url('https://assets.website-files.com/657faa5b526b40c8ee10c543/6580709defc54eb16dbe5e0f_TestS%C3%B6hne-Leicht.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
  
*{
    box-sizing: border-box;
    font-family: 'Sohne';
    scroll-behavior: smooth;
}
  
nav{
  width: 100vw;
  height: 5vh;
  background-color: #00000033;
  position: fixed;
  top: 0;
  z-index: 10;

  display: flex;

  justify-content: space-around;
  align-items: center;
  padding: 1vw;
  
  a{
    text-decoration: none;
    font-size: 2vw;

    color: #aaa;

    transition: .2s;

    &:hover{
      color: #fff;
    }
  }

}

i{
  font-weight: 500;
}

.lowOpacity{
  opacity: .8;
}

body, html{
    margin: 0;
    background-color: #666;;

    max-width: 100%;
}

video{
  pointer-events: none;
  opacity: .8;
}

.videoPreview{
    width: 100%;
    height: fit-content;
    display: flex;

    position: relative;
    justify-content: center;
    background-color: #000;
}

.videoHeader{
  position: absolute;
  color: #fff;
  z-index: 10;

  width: 100%;
  text-align: center;

  text-transform: uppercase;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  h1{
    padding: 0;
    margin: 0;

    font-weight: 400;

    font-size: 5vw;
  }
}

.sectionGrid{
    grid-template-columns: 63% 37%;
    grid-template-areas: "img div" ;
    background-color: #666;

}

.sectionGrid > .sectionText > header{
    color: #000;
}

.sectionGridReverse{
    grid-template-columns: 63% 37%;
    grid-template-areas: "div img" ;
    background-color: #000;
}

.sectionGridReverse > .sectionText > header{
    color: #666;
}

.sectionImgText{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: grid;
}

.sectionImgText> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sectionText{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionText > header{
    padding: 2rem;
    text-transform: uppercase;
    font-size: 3.5vw;
    font-weight: 500;
}

.sectionText > p{
    width: 70%;
    font-size: 1.3vw;
    padding: 5%;
}

.sectionTextHigh{
    position: relative;
    height: 140vh;
    background-color: #666;
    text-transform: uppercase;

    padding-left: 10vw;
    padding-top: 10vw;
}

.sectionTextHigh > header{
    margin: 0;
    font-size: 3.5vw;
    font-weight: 500;

    width: 55%;
}

.sectionTextHigh > p{
    position: absolute;
    width: 20%;

    left: 15% ;
    bottom: 17%;

    font-size: 1vw;

    font-weight: 400;
}

.sectionTextHigh > img{
    position: absolute;
        
    bottom: 10%;
    left: 50%;

    width: 20vw;
    aspect-ratio: 1/1;
}

.imgGridWrapper{
  padding-top: 5vw;
  background-color: #000;

  width: 100VW;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

}

.imgGridWrapper > header{
  color: #fff;
  text-transform: uppercase;
  font-size: 6.6vw;
  font-weight: 500;
  padding-right: 19vw;
}

.imgGridWrapper > p{
  font-size: 7vw;
  justify-self: center;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 6vw;
  a{
    font-size: 3vw;
    color: #fff;
  }
}

.sectionImgGrid{

  padding: 1vw;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
}


.sectionImgGrid > a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionImgGrid > a > img{
  width: 100%;
}


.slider-wrapper {
    width: 99.1%;
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  
  .slides-container {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
    scrollbar-width: none; /* Firefox */

    -ms-overflow-style: none;  /* Internet Explorer 10+ */

  }

#carouselSpacer{
  height: 10px;
}

#collection{
  max-height: 100vh;
}

.sectionTextWide{
  width: 100%;
  background-color: #000;
  padding-top: 4vw;
  padding-left: 5vw;
  padding-bottom: 4vw;
  display: flex;
  justify-content: space-between;
}
.collectionListLeft{
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0%;
}

.collectionListLeft > header{
  font-size: 4.5vw;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.collectionListLeft > img{
  width: 75%;
  aspect-ratio: 1/1;
  align-self: center;
  margin-top: 2vw;

  transition: .2s;

}

.collectionListRight{
  width: 35%;
  display: flex;
  flex-direction: column;
  height: 90%;
  gap: .6vw;
}

.collectionListRight > div{
  font-weight: 400;
  font-size: 2vw;
  width: fit-content;
  padding: 0 .4vw 0 .4vw;


  background-color: #222;

  transition: .2s;


 &:hover{
  color: #999999;
  cursor: pointer;
 } 
}

.hiddenOpacity{
  opacity: 0;
}

.textWhite{
  color: #fff;

  &:hover{ 
    color: #fff !important
  }
}

.textGray{
  color: #666;
}

.contact{
  width: 100%;
  min-height: 100vh;
  /* background-color: #666; */
  background:         linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("./img/life/note.jpg");

  display: flex;
  padding-top: 4vw;
  flex-direction: column;


}

.contact > header{
  color: #fff;
  font-size: 7vw;
  font-weight: 400;
  width: fit-content;

  margin-left: 15vw;

  text-transform: uppercase;
}

input[type="text"], input[type="email"], textarea{

  background-color: #88888888;

  outline: none;
  border: none;
  
  width: 100%;
  height: 3vw;

  transition: .2s;

  &:focus{
    background-color: #ffffffaa;
  }

  border: 2px solid #7a7a7a;

  font-size: 2vw;
}



input[type="submit"]{
  border: none;
  outline: none;
  transition: .2s;
  background-color: #666;
  color: #fff;
  border: 2px solid #7a7a7a;

  align-self: center;
  height: 3vw;
  width: 60%;
  font-size: 2vw;
  margin-top: 7vw;
  margin-bottom: 7vw;

  &:hover{
    background-color: #aaa;
    cursor: pointer;
  }
}

label{
  color: #fff;
  font-size: 3vw;

}

.inputSection{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact > form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 57%;

  align-self: flex-end;

  padding: 3vw;


  gap: 3vw;
}


#inputTextarea{
  /* resize: none; */
  font-size: 1vw;
  height: 100%;

  
  min-height: 12vw;
}

.inputSection:has(#inputTextarea){
  height: 10vw;
}

  
.slide{
  height: 100%;
  flex: 1 0 100%;
  display: flex;

  padding: 4vw;



  flex-wrap: wrap;

  justify-content: space-between;
}

.slide:nth-child(1){
  background:         linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("./img/life/bleachliner.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

.slide:nth-child(2){
  background:         linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("./img/covers/downwardspiral.png");
  background-repeat:no-repeat;
  background-size: cover;
}

.slide:nth-child(3){
  background:         linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("./img/life/pinkertonbooklet.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

.slide:nth-child(4){
  background:         linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("./img/covers/vsalt.png");
  background-repeat:no-repeat;
  background-size: cover;
}

.gridSlideHeader{
  width: 100%;

  display: grid;

  grid-template-columns: 1.3fr 1fr;
}

.gridSlideBody{
  display: grid;
  width: 100%;
  height: 90%;
  grid-template-columns: repeat(1fr);

  table{
    height: 85%;
  }
}

.slideHeader{
  color: #fff;
  font-size: 7vw;
  font-weight: 500;
  width: 100%;

}

.slideRight{
  width: 70%;
  padding: 1vw 0 0 2.5vw;
}

.slideLeft{
  width: 25%;
}

table{
  width: 100%;
  height: 100%;
}

td{
  color: #fff;
  position: relative;

  font-size: 1.15vw;

  padding-top: 2vw;

  img{
    aspect-ratio: 1/1;
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
  }

}

tr:has(th){
  height: 3vw;
}

tr:nth-child(2n){
  background-color: #66666633;
}

tr:nth-child(2n+1){
  background-color: #00000033;
}

td, th{
  width: 33%;
  text-align: center;
}

th{
  color: #fff;
  font-weight: 500;
  font-size: 1.5vw;
  text-align: center;
  font-style: italic;
}

footer{

  position: relative;

  height: 100vh;

  background:         linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("./img/life/poolmaksiu.jpg");

  background-repeat: no-repeat;
  background-size: cover;


  
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  padding-top: 3vw;
}

.footerHeader{
  color: #fff;
  font-size: 4.5vw;
  text-transform: uppercase;
  width: 100%;

  text-align: end;
  height: fit-content;

  margin-right: 5vw;

}

.footerSection{

  margin-top: -4vw;
  width: 100%;
  justify-content: space-around;
  display: flex;

  a{
    text-decoration: none;

    padding: .2vw;

    font-size: 1.7vw;
    background-color: #222;
    color: #666;

    transition: .2s;

    width: fit-content;
    height: fit-content;

    &:hover{
      color: #fff;
    }
  }
}

.sectionCopyright{
  position: absolute;
  bottom: 2vw;

  width: 100%;
  color: #fff;
  text-align: center;

  justify-self: flex-end;
}